
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}


/*-- banner --*/

.banner{
	background: url(../images/6.jpg) no-repeat 0px 0;
    background-size: cover;
    padding: 1em 0 5em;
}
.agile-logo {
    width: 13%;
}
.agile-logo h1{
	margin:0;
}
.agile-logo h1 a{
    color: #FFFfff;
    font-size: .4em;
    letter-spacing: 12px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}
.agile-logo h1 a span{
    display: block;
    font-size: 2em !important;
    font-weight: 700;
    letter-spacing: 6px;
}
.m_nav_item
.w3l-banner-grids {
    margin: 4em 0 0 0;
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.18);
}
.w3ls-banner-right {
    float: right;
}
.w3ls-banner-left {
    float: left;
}
.w3ls-banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
}
.w3ls-banner-left-info h4,.social-info h4{
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3ls-banner-left-info p{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}
.w3ls-banner-left-info p a{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
	text-decoration:none;
}
.w3ls-banner-left-info p a:hover{
	color:#01a39b;
}
.w3ls-banner-left-info:nth-child(5){
	border:none;
}
.banner-right-img{
    float: left;
    width: 30%;
}
.banner-right-img img{
    width: 100%;
    border: solid 8px #ffffff;
}
.banner-right-info{
    float: right;
    width: 65%;
}
.banner-right-info h2{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.banner-right-info p{
	color:#cecece;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.w3-button {
    margin: 3em 0 0 0;
}
.w3-button-info {
    line-height: inherit !important;
}
.w3-button a{
    padding: .5em 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    background: #01a39b;
    font-weight: 700 !important;
    text-decoration: none !important;
    line-height: initial !important;
    font-size: .9em !important;
    margin: 0 !important;
}
.w3-button a:focus{
	outline:none;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color ;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
	color: #2f2f2f !important;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.social-grids {
    margin: 2em 0 0 0;
}
.social-info{
	float:left;
	width:20%;
}
.social-info h4 {
    margin: .2em 0 0 0 !important;
}
.agileinfo-social-grids{
    float: left;
    margin:0;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-twitter, .agileinfo-social-grids ul li a i.fa.fa-rss, .agileinfo-social-grids ul li a i.fa.fa-vk {
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa fa-behance:hover{
	border: solid 2px black;
	background:black;
	color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
	border: solid 2px #45668e;
	background:#45668e;
	color: #FFFFFF;
}
/*-- //banner --*/
/*start Navbar */
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.navbar {
    padding: 20px 0;
    font-size: 20px;
    width: 100%;
    background-color: #2f2f2f;
}
.navbar .navbar-brand{
    color: #ffffff;
    margin-top: -25px;
}

.navbar ul li a{
    color: #ffffff;
}
.navbar ul li a:hover{
    color: #1abc9c;
    border-bottom: 2px solid #1abc9c;
    background: transparent;
}
/*end navbar */

/*-- about --*/
.about,.statistics,.experience,.feedback,.projects,.contact{
    padding: 4em 0;
}
.wthree-about-left h3,.wthree-about-right h3,.w3-agileits-statistics-heading h3{
    color: #2f2f2f;
    font-size: 2em;
    margin: 0 0 1em 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.wthree-about-left {
    top: 50px;
}
.wthree-about-left h4{
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.wthree-about-left p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.wthree-about-left p span{
    display: block;
    margin: 1em 0;
}
/*-- skills --*/
.skills-bar .bar_group__bar.thin::before, .skills-bar .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

.skills-bar .bar_group__bar.thin::before {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #E4E4E4;
}

.skills-bar .bar_group__bar.thin {
  width: 0%;
  height: 4px;
  border-radius: 2px;
  background:#01a39b;
  margin-bottom: 10px;
  -webkit-transition: width 1s;
          transition: width 1s;
}
.skills-bar .b_label, .skills-bar .bar_label_min, .skills-bar .bar_label_max, .skills-bar .b_tooltip span {
    color: #ffffff;
    font-size: .9em;
	font-weight:600;
}
.skills-bar .bar_label_max {
    position: absolute;
    right: 0;
    margin: 1em 0 0 0;
}
.skills-bar .bar_label_min {
    position: absolute;
    left: 0;
    margin: 1em 0 0 0;
}
.skills-bar .b_tooltip {
  -webkit-transition: all 1s;
          transition: all 1s;
  position: relative;
  float: left;
  left: 100%;
  padding: 4px 10px 7px 10px;
  background-color: rgba(67, 66, 76, 0.81);
  -webkit-transform: translateX(-50%) translateY(-30px);
  -ms-transform: translateX(-50%) translateY(-30px);
  transform: translateX(-50%) translateY(-30px);
  border-radius: 2px;
  line-height: 11px;
}
.skills-bar .b_tooltip span {
  color: white;
}
.skills-bar .b_tooltip--tri {
  width: 0;
  height:0;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(67, 66, 76, 0.81) transparent transparent transparent;
}
.skills-bar .bar_group__bar:nth-of-type(1) {
    background: #01a39b;
    z-index: 9990 !important;
}
.skills-bar .bar_group__bar:nth-of-type(2) {
  background: #01a39b;
}
.skills-bar .bar_group__bar:nth-of-type(3) {
  background: #01a39b;
}
.skills-bar .bar_group__bar:nth-of-type(4) {
  background: #01a39b;
}
.skills-bar .bar_group__bar:nth-of-type(5) {
  background: #01a39b;
}
.skills-bar .takeexam {
    top: 10px;
    left : 110%;
    position :absolute
}
.skills-bar .takeexam1 {
    top: 90px;
    left : 110%;
    position :absolute
}.skills-bar .takeexam2 {
     top: 180px;
     left : 110%;
     position :absolute
 }
.skills-bar .takeexam3 {
     top: 260px;
     left : 110%;
     position :absolute
 }
.bar_group {
  position: relative;
}


/*-- //skills --*/
